@model SportSystem.App.ViewModels.PlayerViewModel
<div class="panel panel-default" id="@Model.Id">
    <div class="panel-body">
        <h2>@Model.Name</h2>
        <p>Born: @Model.BirthDate.ToString("dd-MMM-yyyy hh:mm:ss")</p>
        <p>Height: @Model.Height</p>
    </div>
</div>