@model SportSystem.App.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-xs-6">
        <h1>Top Matches:</h1>
        @Html.DisplayFor(x => x.TopMatches)
    </div>
    <div class="col-xs-6">
        <h1>Best Teams:</h1>
        @Html.DisplayFor(x => x.BestTeams)
    </div>
</div>
<div class="row">
    <p>@Html.ActionLink("All Matches", "All", "Match", new { }, new { @class="btn btn-default" })</p>
</div>